
/*see https://getbootstrap.com/docs/4.0/getting-started/theming/ for available variables*/
$theme-colors: (
    "primary":    rgb(64, 29, 29),
    "secondary":  rgb(115, 94, 83),
    "light":      rgb(160, 161, 152),
    "dark":       rgb(38, 37, 34)
);

       /* "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,*/

/*    
*/


@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  background-color: rgb(38, 37, 34) !important;
  padding-bottom: 6rem; /*allow footer to always bet on bottom, but not fixed*/
  position: relative; /*allow footer to always bet on bottom, but not fixed*/
  min-height: 100%;
 /*background-image: url('../img/bg.png');*/
}

ul {
  list-style-type: none;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.trans {
  background: rgba(255,255,255,1);
}

.container {
  overflow:auto;
}

nav {
  background: rgba(255,255,255,1);
}

.header
{
  color: white;
}

.inline
{
  flex-direction: row;
}

#login-box {
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 300px;
}

.error {
  background-color: red;
}

.well {
  padding: 1em;
  margin-top: 1em;
}

#post-container {
  padding: 1em;
}

.line-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.active {
  font-weight: bold;
}