
/*see https://getbootstrap.com/docs/4.0/getting-started/theming/ for available variables*/
$theme-colors: (
    "primary":    rgb(115, 50, 50),
    "secondary":  rgb(115, 99, 85),
    "light":      rgb(160, 161, 152),
    "dark":       rgb(38, 37, 34)
);

       /* "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,*/

/*    
*/


@import '~bootstrap/scss/bootstrap';

body
{
  font-family: "Times New Roman", Georgia, Serif;
  background-color: rgb(38, 37, 34) !important;
 /*background-image: url('../img/bg.png');*/
}

h1, h2, h3, h4, h5, h6 
{
  font-family: "";
  letter-spacing: 2px;
}

ul
{
  list-style-type: none;
}

footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,1);
}

.trans
{
  background: rgba(255,255,255,1);
}

nav
{
  background: rgba(255,255,255,1);
}

.header
{
  color: white;
}

.inline
{
  flex-direction: row;
}

.dead-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 200px;
  border: 1px solid #9C9C9C;
  background-color: rgba(255,255,255,0.9);
}

#login #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.error {
  background-color: red;
}

